<?xml version="1.0" ?>
<robot name="lenny" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find lenny_gazebo)/urdf/sda10f_macro.xacro" />
  <xacro:motoman_sda10f prefix=""/>
  <!-- Rigidly fix the model to the world -->
  <link name="world"/>
  <joint name="fixation_joint" type="fixed">
    <parent link="world"/>
    <child link="torso_base_link"/>
  </joint>
  <!-- Add the robotiq grippers -->
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.urdf.xacro" />
  <!-- Robotiq Coupler -->
  <!-- The height added by this coupler is 8mm -->
  <!-- Its reference frame is at the middle: 4mm -->
  <xacro:macro name="robotiq_coupler" params="prefix">
    <link name="${prefix}coupler">
      <visual>
        <geometry>
          <mesh filename="package://robotiq_description/meshes/robotiq_85_coupler.stl" />
        </geometry>
        <material name="flat_black"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://robotiq_description/meshes/robotiq_85_coupler.stl" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.168" />
        <inertia  ixx="0.0008836625" ixy="0" ixz="0"
                  iyy="0.0008836625" iyz="0"
                  izz="0.001588125" />
      </inertial>
    </link>
    <joint name="${prefix}coupler_joint" type="fixed">
      <origin xyz="0 0 -0.018" rpy="0 ${pi} 0" />
      <parent link="${prefix}link_tool0"/>
      <child link="${prefix}coupler"/>
    </joint>
    <gazebo reference="${prefix}coupler">
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
      <selfCollide>true</selfCollide>
      <material>Gazebo/FlatBlack</material>
    </gazebo>
  </xacro:macro>
  <!-- Attach the left robotiq 85 gripper -->
  <xacro:robotiq_coupler prefix="arm_left_" />
  <xacro:robotiq_85_gripper prefix="arm_left_" parent="arm_left_coupler" >
    <origin xyz="0 0 0.004" rpy="0 ${-pi/2} ${pi}"/>
  </xacro:robotiq_85_gripper>
  <!-- Attach the right robotiq 85 gripper -->
  <xacro:robotiq_coupler prefix="arm_right_" />
  <xacro:robotiq_85_gripper prefix="arm_right_" parent="arm_right_coupler" >
    <origin xyz="0 0 0.004" rpy="0 ${-pi/2} ${pi}"/>
  </xacro:robotiq_85_gripper>
  <!-- moveit planning scene plugin  -->
  <gazebo>
    <plugin filename="libgazebo_ros_moveit_planning_scene.so" name="gazebo_ros_moveit_planning_scene">
      <topicName>/planning_scene</topicName>
      <sceneName>setup</sceneName>
      <robotName>lenny</robotName>
      <updatePeriod>0.5</updatePeriod>
    </plugin>
  </gazebo>
  <!-- ros_control plugin  -->
  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so"/>
  </gazebo>
</robot>
